
@{
    ViewBag.Title = "Index";
}

@section scripts{
    <script src="~/scripts/app/app.js"></script>
}

<h2>Ejemplo de jQuery Datatables</h2>

<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
        <tr style="text-align:left;">
            <th></th>
            <th>Name</th>
            <th>Age</th>
            <th>DoB</th>
        </tr>
    </thead>
</table>

<button id="btnUpdate">
    Update data
</button>